<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EJS Template</title>
    <link rel="stylesheet" href="./css/styles.css"/>
</head>
<body>
    <h1>EJS Template Working!</h1>
</body>
</html>